@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">


    <div class="card divDev" style="width: 18rem;">

        <img class="card-img-top" src='~/img/Personal_JMOL.jpg' alt="Card image cap">
        <div class="card-body card-body-title">
            <h5 class="card-title">Joan Manuel Olvera Lona</h5>
            <p class="card-text">Desarrollador FrontEnd</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Tel: <a href="https://wa.me/525569651932" target="_blank">(55) 6965-1932</a></li>
            <li class="list-group-item">Email: <a href="mailto:irfaxad@gmail.com" target="_blank">irfaxad@gmail.com</a></li>
        </ul>
        <div class="card-body list-group-spaced">
            <a href="https://www.linkedin.com/in/irfaxad" class="card-link" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
            <a href="https://drive.google.com/file/d/1V9s2vSf2X7oXTAFo6wlW3NAWuDA74r_W/view" class="card-link" target="_blank"><i class="bi bi-person-square"></i> C. V.</a>
        </div>
    </div>

</div>

<script>
    function load() {
        // document.location.href = '/DatosFacturacionIndex';
        document.location.href = '/Privacy';
    }
        // window.onload = load;
</script>
