@page
@model PrivacyModel
@{
    ViewData["Title"] = "Aviso de Privacidad";
}

<div class="divPrivacy">
    <h1>@ViewData["Title"]</h1>

    <p>
        De acuerdo a lo Previsto y en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la "Ley"),
        declara <span class="fw-bold">EZ SOLUTIONS DE S DE RL DE CV.</span> (en adelante identificada como "<span class="fw-bold">Easy-Rez</span>")
        ser una empresa legalmente constituida de conformidad con las leyes mexicanas, y como responsable del tratamiento de sus datos personales,
        protege con medidas de seguridad administrativas, técnicas y físicas y salvaguarda esta información para evitar el daño, pérdida, destrucción,
        robo, extravío, alteración, así como el tratamiento, divulgación y acceso no autorizado de sus datos personales. Informamos a usted, los
        términos y condiciones del Aviso de Privacidad ("Aviso de Privacidad") de <span class="fw-bold">EZ SOLUTIONS DE S DE RL DE CV</span> con
        domicilio en C.37 No. 300 x 16 y 18 Leandro Valle Mérida, Yucatán, México, C.P 97143.
    </p>

    <p class="titlePrivacy">¿Qué información recopilamos?</p>
    <p>
        Hacemos de su conocimiento que la información de nuestros clientes es tratada de forma estrictamente confidencial por lo que al proporcionar
        sus datos personales que usted libre y voluntariamente nos proporcione a través de este website ("Portal"), mediante la utilización de
        nuestros servicios en línea, electrónicos o por medios físicos podrán incluir de manera enunciativa más no limitativa sus datos personales
        generales los cuales dependiendo de la relación que con usted exista podrán incluir sin limitar su nombre, domicilio, teléfonos, dirección
        de correo electrónico, información laboral, giro comercial, actividad económica, intereses y gustos personales e información de facturación
        y en caso de contratar nuestros servicios incluirá sin limitar datos como cuentas bancarias, número de tarjeta de crédito, nombre del
        tarjetahabiente y fecha de vencimiento.
    </p>


    <p class="titlePrivacy">¿Para qué utilizamos su información?</p>
    <p>
        Estos datos serán utilizados única y exclusivamente para los siguientes fines: Información, marketing, prestación de Servicios y comerciales;
        para responder a sus preguntas y comentarios; para medir su interés en y mejorar nuestros productos, servicios y sitio y mejorarlos; para
        notificarle de producto, servicios y ofertas especiales que pudieren interesarle; para personalizar su experiencia en este sitio; para
        Atención Personalizada a través de otros medios electrónicos o físicos así como cualquier finalidad análoga o compatible con las anteriores.
    </p>


    <p class="titlePrivacy">¿Con quién compartimos su información?</p>
    <p>
        Es posible que Easy-Rez comparta o transmita sus datos personales con el resto de las empresas filiales o miembro de la red de servicios
        integrales de EZ Solutions S. de R.L. de C.V. y a proveedores de servicios seleccionados que contratemos, con quienes tenemos celebrados
        acuerdos de confidencialidad y de protección de datos personales, en el entendido que sólo se les permitirá el acceso a sus datos personales
        para cumplir con la prestación de los servicios contratados para los mismos fines establecidos en este Aviso de Privacidad.
    </p>

    <p>
        Salvo por lo anterior, en ningún otro caso comercializaremos, venderemos o rentaremos información personal sobre usted a un tercero sin un
        consentimiento previo de su parte. Cualquier transferencia de datos personales que EZ Solutions S. de R.L. de C.V. realice, será únicamente
        para los fines permitidos por las leyes. Se entiende que ha otorgado su consentimiento a la transferencia de sus datos personales, si no
        manifiesta oposición a que los mismos sean transferidos.
    </p>
    <p>
        Los datos personales que usted proporcione a Easy-Rez, podrán compilarse y fijarse en una base de datos propiedad exclusiva de EZ Solutions
        S. de R.L. de C.V. Las ligas a sitios externos de este portal, no son responsabilidad de Easy-Rez, por lo que no asumimos responsabilidad
        alguna con respecto al contenido y políticas de privacidad en dichos sitios.
    </p>


    <p class="titlePrivacy">¿Cuál es el área responsable del manejo y administración de los datos personales?</p>
    <p>
        El área responsable del manejo y la administración de sus datos personales es la Oficina de Privacidad y Confidencialidad a quien puede
        contactar mediante el correo electrónico <a href="mailto:soporte@easy-rez.com">soporte@easy-rez.com</a>.
    </p>


    <p class="titlePrivacy">¿Cómo puede usted ejercer sus derechos ARCO y revocar el consentimiento otorgado?</p>
    <p>
        En términos de la LFPDPPP, a partir del 6 de enero de 2012, usted podrá iniciar el procedimiento de protección de derechos ARCO ante el
        Instituto Federal de Acceso a la Información y Protección de Datos Personales (IFAI) dentro de los 15 días siguientes a la fecha en que
        Easy-Rez de respuesta a su solicitud o, si transcurrido el término que señala la Ley, EZ Solutions S. de R.L. de C.V. no diera respuesta a
        su solicitud. Como titular de datos personales, usted podrá ejercitar los derechos ARCO (acceso, cancelación, rectificación y oposición al
        tratamiento de sus datos personales), o bien, revocar el consentimiento que usted haya otorgado a EZ Solutions S. de R.L. de C.V., para el
        tratamiento de sus datos personales, enviando directamente su solicitud al área de " Oficina de Privacidad y Confidencialidad " a través de
        la cuenta de correo electrónico antes señalada. Dicha solicitud deberá contener por lo menos: (a) nombre y domicilio u otro medio para
        comunicarle la respuesta a su solicitud; (b) los documentos que acrediten su identidad o, en su caso, la representación legal;
        (c) la descripción clara y precisa de los datos personales respecto de los que se solicita ejercer alguno de los derechos ARCO,
        (d) la manifestación expresa para revocar su consentimiento al tratamiento de sus datos personales y por tanto, para que no se usen;
        (e) cualquier otro elemento que facilite la localización de los datos personales.
    </p>


    <p class="titlePrivacy">Modificaciones al Aviso de Privacidad.</p>
    <p>
        En caso de existir alguna modificación al presente Aviso de Privacidad se hará de su conocimiento en este mismo sitio de Internet:
        <a href="https://www.easy-rez.com/aviso-de-privacidad">https://www.easy-rez.com/aviso-de-privacidad</a>.
    </p>

    <p>
        Si el usuario utiliza el sitio web Easy-Rez.com, significa que ha leído, entendido y acordado los términos antes expuestos. Si no está de
        acuerdo con ellos, el usuario no deberá proporcionar ninguna información personal, ni utilizar los servicios de los sitios de EZ Solutions
        S. de R.L. de C.V. En caso de existir controversia se resolverá en los tribunales correspondientes del Estado de Yucatán.
    </p>

    <p>
        Última Actualización: 6 de Agosto 2021.<br />
        EZ Solutions S. de R.L. de C.V.
    </p>
</div>

