@page
@model PrivacyModel
@{
    ViewData["Title"] = "Validación de archivo";
}
<div class="row">
    <div class="col-8 align-self-start">
        <h2>Sistema Prueba de Easy-Rez</h2>
        <h5>@ViewData["Title"]</h5>
    </div>
</div>
<hr />

<p>En esta página se desarrollará la Validación de archivos.</p>
